<%= form_for(feedback) do |f| %>
  <% if feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% feedback.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Would You Recomend This Product To A Friend? (Yes or No?)"%>
    <%= f.check_box :recommend? %> " ← Click Here For Yes!
  </div>
    <br><br>
  <div class="field">
    <%= f.label "How Likely Would You Recomend This Product To A Friend (1 to 10)"  %>
    <br>
    Not Likely - 1  <%= f.range_field :friend, :min=>1, :max=>10, :class=>"slide", :id=>"slider1" %> 10 - Calling A Friend Now!
  </div>

  <div class="field">
    <%= f.label "Why?" %>
    <%= f.text_area :remarks %>
  </div>

  <div class="field">
    <%= f.label "How Clean Do They Feel? (1 to 10)" %>
    No Difference - 1  <%= f.range_field :clean, :min=>1, :max=>10, :class=>"slide", :id=>"slider1" %> 10 - WOW Super Clean!
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
