<p id="notice"><%= notice %></p>

<p>
  <strong>Recommend?:</strong>
  <%= @feedback.recommend? %>
</p>

<p>
  <strong>Friend:</strong>
  <%= @feedback.friend %>
</p>

<p>
  <strong>Clean:</strong>
  <%= @feedback.clean %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @feedback.remarks %>
</p>

<p>
  <strong>User:</strong>
  <%= @feedback.user %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Write Another Feedback?', new_feedbacks_path %> |

<%= link_to 'New Person' new_users_path %>
